name: Hello Workflow

on: [push]

jobs:
  hello-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Print hello
        run: echo "Hello from GitHub Actions!"
